img.head-img{
height:100vh;
background-repeat: no-repeat;
width:100%;
background-size: cover;
}
div.head-content{
display:flex;
align-items: center;

}
div.container{
width:1200px;
max-width:1200px;
margin:0 auto;
color:rgb(255, 255, 255);
margin-top: -700px;
}
h3{
  font-size:50px;
  font-family: "Montserrat",sans-serif;
}
h1{
  font-size:80px;
  line-height:80px;
  font-weight: 900;
  margin-top: 20px;
  font-family: "Montserrat",sans-serif;
}
p{
  font-size:25px;
  font-weight: 400;
  margin-top: 20px;
  font-family: "Montserrat",sans-serif;
}
.navbar{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.navbar-text{
  display:flex;
  height: 60px;
  align-items: center;
  width: 1200px;
  margin:auto;
}
.nav-ul{
  width: 60%;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  margin-left: 600px;
}
.nav-ul li a{
  text-decoration: none;
  color: #fff;
  padding: 0 15px;
  text-transform:uppercase;
  font-family: "Montserrat",sans-serif;
  font-weight: 600;
}
.btn{
  text-decoration: none;
  border:none;
  font-weight: 700;
  color: #fff;
  outline: none;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  font-size: 12px;
  padding: 20 40px;
  font-family: "Montserrat",sans-serif;
}
.btn.btn-danger{
  background-color:rgba(255,69, 79);
}