img.head-img{
height:100vh;
background-repeat: no-repeat;
width:100%;
background-size: cover;
}
div.head-content{
display:flex;
align-items: center;

}
div.container{
width:1200px;
max-width:1200px;
margin:0 auto;
color:rgb(255, 255, 255);
margin-top: -700px;
}
h3{
  font-size:50px;
  font-family: "Montserrat",sans-serif;
}
h1{
  font-size:80px;
  line-height:80px;
  font-weight: 900;
  margin-top: 20px;
  font-family: "Montserrat",sans-serif;
}
p{
  font-size:25px;
  font-weight: 400;
  margin-top: 20px;
  font-family: "Montserrat",sans-serif;
}